<div class="Landingheadline">
<h1>This is a Landing Page of me: Carlo Ackermann</h1>
<p>Viewcount of people who have found me:</p>
</div>

<div class="Landingprofilepic">
<h1>What my life looks like</h1>
<p>X</p>
</div>

<div class="Landingnavbar">
<h1>Search for Keywords!</h1>
<p>Find code-snippets</p>
</div>

<div class="Landingsocials">
<h1>This is my Github, roadmap, LinkedIn</h1>
<p>Come connect!</p>
</div>

<div class="Landingcodesnippet">
<h1>Things that I came up with:</h1>
<p>Experience bar in a project:</p>
</div>

<div class="Landingfooter">
<h1>Impressum</h1>
<p>FAQ</p>
</div>